
#leftSideGrid{
    // width: 78%;
    // height: 100%;
    // margin: 0;
    // padding: 0;
    // background-color: #101010;
    // box-shadow: none;
    // border: 1px solid #4F4F4F;
    // border-radius: 8px;
}
#leftWrapper{
    margin-left: 20px;
}
#MiddleGrid{
    padding: 0;
}
#rightSideGrid{
    //padding-left: 0px;
}
#orderFormParent{
    margin: 0;
    padding: 0;
}
#tradeScreenParentGrid{
    display: flex;
}
#miniDashBoardWrapper{
    margin-top: 25px;
}

.css-10mzr36-MuiGrid-root>.MuiGrid-item{
    padding-left: 0px;
}