/* 
#data-grid .MuiDataGrid-columnHeaderTitle{
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    background: "#ffffff";
    font-family: 'Overpass';
    margin-right: auto;
}
#data-grid .MuiButtonBase-root{
    color: aliceblue;
}
#data-grid .MuiTablePagination-root{
    color: white;
}
#data-grid .MuiDataGrid-row:hover{
    background-color: black;
}
#data-grid .MuiDataGrid-cell{
    border-bottom: 1px solid #4F4F4F;
}
#data-grid{
    height: 630px;
    width: 100%;
} */